*, *::after, *::before {
  box-sizing: border-box;
}

:root {
    --cell-size: 101px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
}

.lauta {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.solu {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.solu:first-child,
.solu:nth-child(2),
.solu:nth-child(3) {
    border-top: none;
}

.solu:nth-child(3n + 1) {
    border-left: none;
}

.solu:nth-child(3n + 3) {
    border-right: none;
}

.solu:last-child,
.solu:nth-child(8),
.solu:nth-child(7) {
    border-bottom: none;
}

.solu.x,
.solu.o {
    cursor: not-allowed;
}

.solu.x::before,
.solu.x::after,
.solu.o::before {
    background-color: black;
}

.lauta.x .solu:not(.x):not(.o):hover::before,
.lauta.x .solu:not(.x):not(.o):hover::after,
.lauta.o .solu:not(.x):not(.o):hover::before {
    background-color: lightgrey;

}

.solu.x::before,
.solu.x::after,
.lauta.x .solu:not(.x):not(.o):hover::before,
.lauta.x .solu:not(.x):not(.o):hover::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.solu.x::before,
.lauta.x .solu:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.solu.x::after,
.lauta.x .solu:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.solu.o::before,
.solu.o::after,
.lauta.o .solu:not(.x):not(.o):hover::before,
.lauta.o .solu:not(.x):not(.o):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.solu.o::before,
.lauta.o .solu:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size) * .90);
    height: calc(var(--mark-size) * .90);
}

.solu.o::after,
.lauta.o .solu:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    background-color: white;
}
   
.voitto-viesti {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.voitto-viesti button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em;
    cursor: pointer;
}

.voitto-viesti button:hover {
    background-color: black;
    color: white;
    border-color: white;

}

.voitto-viesti.nayta {
    display: flex;
}
